<% name = current_user.present? ? current_user.email : 'Mr. Pickles' %>

<h1>Welcome, <%=name %></h1>

<p>Sign in to view profile and photos </p>

<form>
  <%= f.file_field :album_cover_photo, %>
</form>
</html>